.couponContainer {
  width: 500px;
  height: 200px;
  position: relative;
  transition: all 0.1s;
}

.couponOverlay {
  position: absolute;
  width: 500px;
  height: 200px;
  background: linear-gradient(
    105deg,
    transparent 40%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(132, 50, 255, 0.6) 50%,
    transparent 54%
  );
  filter: brightness(1.1) opacity(0.8);
  mix-blend-mode: color-dodge;
  background-size: 150% 150%;
  background-position: 100%;
  pointer-events: none;
  transition: all 0.1s;
  z-index: 2;
  border-radius: 12px;
}

.couponCard {
  width: 500px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  z-index: 1;
  position: relative;
}
