.KIOSKDISPLAY {
  position: relative;
  width: 1000px;
  height: 1300px;
  margin-left: 20%;
  background-image: url("/public//koisk.png");
  background-size: 1000px 1300px;
  background-position: center; /* 이미지를 div 중앙에 배치 */
  background-repeat: no-repeat; /* 이미지 반복 방지 */
}

.LastOlderPage {
  position: absolute;
  border-radius: 10px;
  background-color: white;
  margin-top: 100px;
  margin-left: 120px;
  width: 730px;
  height: 900px;
}

.LastOlderPage .oldertext {
  display: flex;
  position: absolute;
  justify-content: center; /* 주축(기본: 수평)에서 가운데 정렬 */
  align-items: center;
  color: white;
  background-color: #ab1f2e;
  border-radius: 10px 10px 0px 0px;
  width: 733px;
  height: 130px;
  text-align: center;
  font-size: 35px;
}

.pickCARD {
  position: absolute;
  display: flex;
  justify-content: center; /* 주축(기본: 수평)에서 가운데 정렬 */
  align-items: center;
  width: 728px;
  height: 130px;
  margin-top: 129px;
  background-color: white;
  border: 3px solid gray;
  color: gray;
  font-size: 30px;
}
.oldertext .pickCARD {
  width: 733px;
  height: 130px;
  margin-top: 131px;
  font-size: 50px;
}

.olderMETHOD {
  width: 733px;
  height: 130px;
  margin-top: 350px;
  font-size: 50px;
}

.topBtn .bottomBtn {
  display: flex; /* 각 버튼 그룹을 Flex 컨테이너로 만듦 */
  flex-direction: column; /* 이 내부의 버튼들을 다시 수직(열) 방향으로 정렬 */
  gap: 10px; /* 각 그룹 내 버튼 사이의 간격 */
  /* 필요 시 각 그룹 내 버튼들을 수평 가운데 정렬 */
  align-items: center; /* 그룹 내 버튼들을 수평 가운데 정렬 */
  font-size: 30px;
  border-radius: 10px;
}

.topBtn button {
  border: 3px solid gray;
  background-color: white;
  width: 330px;
  height: 170px;
  padding: 10px 20px;
  margin-left: 23px;
  margin-bottom: 30px;
  font-size: 30px;
  border-radius: 10px;
}

.bottomBtn button {
  border: 3px solid gray;
  background-color: white;
  width: 330px;
  height: 170px;
  padding: 10px 20px;
  margin-left: 23px;
  margin-bottom: 40px;
  font-size: 30px;
  border-radius: 10px;
}

.BTNcontainer {
  border: 3px solid gray;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  border: none;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
}

.CardImg {
  width: 100px;
}

.BackBTN {
  width: 730px;
  height: 90px;
  align-self: center; /* 버튼 자신만 수평 가운데 정렬 */
  padding: 15px 25px;
  background-color: white;
  border-top: 3px solid gray;
  color: gray;
  font-weight: 10px;
  cursor: pointer;
  margin-top: 310px;
}
