.blinking {
  -webkit-animation: blink 0.6s ease-in-out infinite alternate;
  -moz-animation: blink 0.6s ease-in-out infinite alternate;
  animation: blink 0.6s ease-in-out infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.wrapperStartDisplay {
  width: 1000px;
  height: 1300px;
  margin-left: 20%;
  background-image: url("/public//koisk.png");
  background-size: 1000px 1300px;
  background-position: center; /* 이미지를 div 중앙에 배치 */
  background-repeat: no-repeat; /* 이미지 반복 방지 */
}

.wrapperStartDisplay .startImage {
  width: 728px;
  height: 305px;
  margin-top: 90px;
  margin-left: 121px;
  border-radius: 6px 6px 0px 0px;
}

.wrapperStartDisplay .middleDiv {
  width: 728px;
  height: 300px;
  background-color: #3e3e3f;
  margin-left: 121px;
}

.middleDiv .middleText {
  padding-top: 7%;
  text-align: center;
  font-size: 22px;
  color: white;
}

.middleDiv .middleMainText {
  padding-top: 20px;
  text-align: center;
  font-size: 27px;
  color: white;
}

.middleDiv .blinking {
  width: 60px;
  height: 80px;
  float: right;
  margin-right: 80px;
}
.lastImage {
  width: 728px;
  height: 300px;
  margin-left: 121px;
  border-radius: 0px 0px 6px 6px;
}
