.KioskPayMent {
  background-color: #fffbf3;
  display: flex;
  justify-content: center; /* KioskWRAP을 가로 중앙으로 */
  align-items: center; /* KioskWRAP을 세로 중앙으로 */
  height: 100vh; /* 뷰포트 전체 높이를 차지 */
  width: 100vw; /* 뷰포트 전체 너비를 차지 */
  overflow: hidden;
}

.KioskPayMent .KIOSKDP2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  margin: 0 auto;
}

.KioskPayMent .KIOSKDP2 .KIOSKDP2-img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: 25px;
  z-index: 1;
}

.KioskPayMent .LastOlderPage {
  position: absolute;
  top: 80px;
  left: 70px;
  background-color: white;
  height: 100%;
}

.KioskPayMent .LastOlderPage .oldertext {
  display: flex;
  justify-content: center; /* 주축(기본: 수평)에서 가운데 정렬 */
  align-items: center;
  color: white;
  background-color: #ab1f2e;
  border-radius: 10px 10px 0px 0px;
  width: 500px;
  height: 70px;
  text-align: center;
  font-size: 35px;
}

.KioskPayMent .pickCARD {
  display: flex;
  justify-content: center; /* 주축(기본: 수평)에서 가운데 정렬 */
  align-items: center;
  margin: 0 auto;
  width: 350px;
  height: 120px;
  background-color: white;
  border-bottom: 3px solid lightgray;
  color: black;
  font-size: 30px;
}
.KioskPayMent .oldertext .pickCARD {
  width: 733px;
  height: 130px;
  margin-top: 131px;
  font-size: 50px;
}

.KioskPayMent .olderMETHOD {
  width: 465px;
  height: 130px;
  margin-top: 50px;
  font-size: 50px;
}

.KioskPayMent .olderMETHOD button {
  width: 30px;
}
.KioskPayMent .CARDBTN.highlight::after {
  background-color: white;
}
.KioskPayMent .topBtn .bottomBtn {
  display: flex; /* 각 버튼 그룹을 Flex 컨테이너로 만듦 */
  flex-direction: column; /* 이 내부의 버튼들을 다시 수직(열) 방향으로 정렬 */
  gap: 10px; /* 각 그룹 내 버튼 사이의 간격 */
  /* 필요 시 각 그룹 내 버튼들을 수평 가운데 정렬 */
  align-items: center; /* 그룹 내 버튼들을 수평 가운데 정렬 */
  font-size: 30px;
  border-radius: 10px;
}

.KioskPayMent .topBtn {
  display: flex;
}
.KioskPayMent .topBtn button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.KioskPayMent .bottomBtn button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.KioskPayMent .topBtn button {
  border: 3px solid gray;
  background-color: white;
  width: 330px;
  height: 170px;
  padding: 10px 20px;
  margin-left: 23px;
  margin-bottom: 30px;
  font-size: 20px;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
}

.KioskPayMent .CARDBTN.highlight::after {
  background-color: white;
}

.KioskPayMent .bottomBtn {
  display: flex;
}
.KioskPayMent .bottomBtn button {
  border: 3px solid gray;
  background-color: white;
  width: 330px;
  height: 170px;
  padding: 10px 20px;
  margin-left: 23px;
  margin-bottom: 30px;
  font-size: 20px;
  border-radius: 10px;
}

.KioskPayMent .BTNcontainer {
  border: 3px solid gray;
  display: flex;
  border: none;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
}

.KioskPayMent .CardImg {
  width: 100px;
}

.KioskPayMent .BackBTN {
  margin: 0 auto;
  border: none;
  width: 90%;
  height: 90px;
  padding: 15px 25px;
  background-color: rgb(165, 159, 159);
  color: white;
  font-weight: 10px;
  cursor: pointer;
  font-size: 40px;
  border-radius: 10px;
}
