.PayModal {
  position: fixed; /* 뷰포트에 고정 */
  top: 0;
  left: 0;
  width: 100vw; /* 뷰포트 너비 100% */
  height: 100vh; /* 뷰포트 높이 100% */
  background-color: rgba(0, 0, 0, 0.4); /* 40% 불투명한 검은색 배경 */
  display: flex; /* 자식 요소(모달 본체)를 중앙에 정렬하기 위함 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  z-index: 1000;
}

.PayModalBody {
  position: absolute;
  top: 50%;
  width: 400px;
  height: 600px;
  padding: 40px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateY(-50%);
}

.PayModal .olderContent {
  border: 1px solid black;
  width: 400px;
  height: 40px;
}

.PayModal .totalPay {
  border: 1px solid black;
  width: 400px;
  height: 500px;
}
