.cake_menu > .wrapper {
  margin-left: 7px;
  border: none;
  margin-top: 40px;
}
.wrapper > .cake_img {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  /* 모든 방향으로 10px 간격 */
  max-width: 100%;
  border-radius: 100px;
}

.cake_name {
  font-size: 20px;
  text-align: center;
}
