.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* 어두운 반투명 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalBody {
  background-color: white;
  height: 500px;
  width: 500px;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1001;
}

.modalOption {
  background-color: #ab1f2e;
  color: white;
  text-align: center;
  font-size: 22px;
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
  height: 200px;
}

.coffeeData,
.drinkData,
.cakeData {
  font-size: 20px;
  margin-top: 10px;
  height: 350px;
}

.modalDetail {
  border: 2px solid lightgray;
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  height: 300px;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.menuType {
  font-size: 18px;
  margin-bottom: 20px;
}

.onptionPick {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.btnBox button {
  border-radius: 8px;
}

.onptionPickText {
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
}

.onptionPick button {
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin-left: 20px;
  font-size: 20px;
}

.MODALIMAGE {
  width: 200px;
  height: 200px;
  float: left;
  margin-left: 20px;
  margin-top: 40px;
  border-radius: 10px;
}
