.cake_menu > .wrapper {
  height: 190px;
}
.wrapper > .cake_img {
  width: 150px;
  margin-left: 40px;
  margin: 10px; /* 모든 방향으로 10px 간격 */
  max-width: 100%;
  height: 140px;
}

.cake_menu {
  top: 150px;
  left: 30px;
  width: 10px;
  display: contents;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
}

.cake_name {
  width: 150px;
  font-size: 20px;
  text-align: center;
  margin-left: 5px;
}
