.coffee_Menu > .wrapper {
  height: 220px;
  width: 200px;
  margin-left: 7px;
}
.wrapper > .coffee_img {
  width: 200px;
  height: 200px;
  margin-left: 40px;
  /* 모든 방향으로 10px 간격 */
  max-width: 100%;
}

.coffee_name {
  width: 150px;
  font-size: 20px;
  text-align: center;
  margin-left: 30px;
}
