.drink_menu {
  width: 150px;
  height: 150px;
}

.wrapper {
  margin-left: 7px;
  border: none;
  margin-top: 40px;
  text-align: center;
}
.wrapper > .drink_img {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  /* 모든 방향으로 10px 간격 */
  max-width: 100%;
  border-radius: 100px;
}

.drink_name {
  font-size: 18px;
  text-align: center;
}
