.OverMenu {
  height: 1700px;
}

.AllDisplay {
  height: 1700px;
  background-color: white;
}

.MenuBar {
  height: 6%;
}

.button_coffee {
  width: 34%;
  height: 100%;
  font-weight: bold;
  justify-content: flex-start;
  font-size: 40px;
  background-color: white;
  border: none;
}
.button_coffee:hover {
  color: white;
  background-color: #ab1f2e;
}

.button_drink {
  width: 33%;
  height: 100%;
  font-weight: bold;
  justify-content: center;
  font-size: 40px;
  background-color: white;
  border: none;
}
.button_drink:hover {
  color: white;
  background-color: #ab1f2e;
}

.button_cake {
  width: 33%;
  height: 100%;
  font-weight: bold;
  justify-content: flex-end;
  font-size: 40px;
  background-color: white;
  border: none;
}

.button_cake:hover {
  color: white;
  background-color: #ab1f2e;
}

.orderBar {
  width: 34%;
  height: 87%;
  float: right;
  padding-bottom: 100px;
}

.orderBar .orderList {
  border: 1px solid black;
  width: 100%;
  height: 6%;
  padding-top: 10px;
  text-align: center;
  font-size: 45px;
}

.orderBar .orderListBlank {
  border: 1px solid black;
  position: relative;
  height: 90%;
  max-height: 990px;
  overflow-x: hidden;
  overflow-y: auto; /*세로 스크롤바 생성 */
}

.orderITEM {
  border: 1px solid black;
  width: 100%;
  height: 25%;
}

.orderITEM img {
  width: 45%;
  height: 195px;
  margin-top: 33px;
}

.orderITEM div {
  width: 100%;
  height: 25%;
}

.orderITEM .orderName {
  text-align: center;
  border: 1px solid black;
  position: absolute;
}

.orderITEM .orderPrice {
  text-align: right;
  border: 1px solid black;
  position: absolute;
}
.orderBar .orderTotal {
  border: 1px solid black;
  height: 160px;
}

.orderTotal .orderTotalNum {
  height: 70px;
  font-size: 39px;
  padding-top: 20px;
  padding-left: 10px;
  font-weight: bold;
}

.orderTotal .orderTotalMoney {
  height: 70px;
  font-size: 39px;
  padding-left: 10px;
  font-weight: bold;
}

.orderTotalNum span {
  float: right;
  padding-right: 25px;
  color: #ab1f2e;
  font-weight: bold;
}

.orderTotalMoney span {
  float: right;
  padding-right: 25px;
  color: #ab1f2e;
  font-weight: bold;
}

.olderOption .clearBtn {
  border-style: none;
  width: 150px;
  height: 130px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  background-color: #78787e;
}
.olderOption .olderBtn {
  border-style: none;
  width: 360px;
  height: 130px;
  font-size: 40px;
  font-weight: bold;
  background-color: #ab1f2e;
  color: white;
}
.resetOption .resetBtn {
  border-style: none;
  width: 510px;
  height: 110px;
  font-size: 40px;
  font-weight: bold;
  background-color: #3e3e3f;
  color: white;
}
