.Button {
  border: none;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  color: snow;
  font-family: "Inter", sans-serif;
  font-size: 1.1em;
  font-weight: bolder;
  margin: 0;
}

.Button_Comunity {
  font-weight: bold;
  font-size: 30px;
  color: #1f2e25;
  background-color: white;
  width: 100%;
}
.Button_Community-content-prev-button {
  width: 20%;
  padding: 5px;
  color: #333;
  background-color: #ffe6d6;
  transition: background-color 0.2s ease, transform 0.2s ease;
}
.Button_Community-content-prev-button:hover {
  background-color: #fcede4;
  transform: translateY(-2px);
}

.Button_none {
  display: none;
}

.Button_cancle {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 120px;
  padding: 7px 0;
  background-color: white;
  color: #1f2e25;
  font-weight: 600;
  border: 1px solid #1f2e25;
  border-radius: 5px;
}
.Button_add-content {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 120px;
  padding: 7px 0;
  background-color: #1f2e25;
  color: white;
  font-weight: 600;
  border: 1px solid #1f2e25;
  border-radius: 5px;
}
