.Header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  margin: 10px;
  margin-top: 0px;
  align-items: center;
  padding: 7px 20px;
  width: 100%;
  top: 40vh;
  z-index: 0;
}

.Header button {
  font-family: 'Paperlogy-8ExtraBold';
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 10px;
  padding: 30px 40px;
  font-size: 1.5rem;
  background-color: #FFFBF3;
  color:  #1f2e25;
  font-weight: lighter;
  width: 200px;
 
}

.Header img{
  width: 70px;
  color: #1f2e25;
}
.Header-logo {
  margin: 0 auto;
}

.Header > div {
  display: flex;
}

.Header .header_center {
  font-size: 20px;
  font-weight: bold;
  width: 49%;
  justify-content: center;
}

.Header .header_left {
  width: 25%;
  justify-content: flex-start;
}

.Header .header_right {
  width: 25%;
  justify-content: flex-end;
}
