.NavCard {
  color: black;
  background-color: #dae8d3;
  margin: 5px;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.NavCardImage {
  height: 150px;
  max-width: 100%;
}
