.bigContainer {
  margin: 0;
  padding: 0;
  background-color: #fffbf3;
  width: 100vw; /* 화면 전체 너비를 채움 */
  height: 100vh;
  overflow-x: hidden; /* 넘침 방지 */
}
.NaverBook_page05 {
  position: relative;
  background-color: white;
  font-family: sans-serif;
  padding: 16px;
  overflow-y: auto;
  width: 378px;
  right: 9px;
  max-width: 430px;
  margin: 0 auto;
  top: -790px;
  height: 635px;
}

.bookWrapper {
  position: relative;
  margin: 0 auto;
  padding: 0 8px;
  height: 100vh;
}

.bookWrapper img {
  width: 100%;
  height: 100%;
  display: block;
}

/* 상단 아이콘 */
.bookImg {
  display: flex;
  justify-content: center;
  margin: 20px 0 10px;
}

.bookImg img {
  margin: 20px;
  width: 120px;
}

/* 텍스트 블록 */
.bookConfirm {
  text-align: center;
  margin-bottom: 20px;
}

.bookConfirm h1 {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 12px;
}

.bookConfirm p {
  font-size: 16px;
  color: #333;
  margin: 2px 0;
}

.bookConfirm strong {
  color: #036;
}

/* 확정 시간 */
.waitTime {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 14px auto;
  padding: 6px 12px;
  width: fit-content;
  font-size: 13px;
  color: #333;
}

.waitTime img {
  width: 14px;
  height: 14px;
}

/* 예약 정보 박스 */
.finalBook {
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 16px 20px;
  text-align: center;
  box-shadow: 2px 2px 5px #ccc;
}

.bookName {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 4px;
}

.bookDate {
  color: #0c59ff;
  font-weight: 500;
  margin: 4px 0;
}

.smallbookContent {
  color: #575757;
  font-size: 15px;
}

.elapsedTimeBox {
  font-weight: bold;
}

.resultBox p {
  font-size: 18px;
  margin-bottom: 10px;
}

.bookPurpose {
  font-weight: 500;
  margin: 4px 0;
  font-size: 16px;
}

.bookRequest {
  font-weight: 500;
  margin: 4px 0;
  font-size: 16px;
}

.retryAgain {
  font-weight: bold;
}

.retryBtn Button {
  background-color: #03c75a;
  border-radius: 10px;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 20px;
  width: 150px;
  font-size: 18px;
  color: white;
  justify-content: center;
  text-align: center;
}

/* 반응형 */
@media (max-width: 480px) {
  .bookWrapper {
    width: 100%;
    max-width: 100%;
  }

  /* 메인 콘텐츠 박스 */
  .NaverBook_page05 {
    width: 100% !important;
    max-width: 100% !important;
    top: 0px;
    left: 0 !important;
    transform: none !important;
    padding: 12px;
    max-height: none;
  }
}
