.NaverBook_page03 {
   font-family: sans-serif;
  max-width: 400px;
  margin: 100px auto;
  padding: 16px;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}

.NaverBook_page03 .thirdBookDiv {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 10px;
  transition: all 0.2s ease;
  margin-bottom: 20px;
}


.calendarDay .calendar {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.calendarDay .week {
  display: flex;
  gap: 4px;
}

.calendarDay .day {
  padding: 10px;
  width: 32px;
  height: 32px;
  border: none;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
}



.calendarHeader button{
border-style: none;
border: none;
background-color:  #fff;
cursor: pointer;
}

.calendarDay .day:hover{
  background-color: #03c75a;
  color: #fff;
    width: 32px;
    height: 32px;
    border-radius: 10px;
}

.amButton Button{
  border: 1px solid #333;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  color: black;
} 
.pmButton Button{
  border: 1px solid #333;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  color: black;
} 

.calendarWeek {
  display: flex;
  justify-content: space-between;
}

.weekday {
  width: 40px;
  text-align: center;
  font-weight: bold;
  color: #555;
  margin: 8px;
}
