.bigContainer {
  margin: 0;
  padding: 0;
  background-color: #fffbf3;
}

.NaverBook_page04 {
  position: relative;
  background-color: white;
  font-family: sans-serif;
  padding: 16px;
  overflow-y: auto;
  width: 378px;
  right: 9px;
  max-width: 430px;
  margin: 0 auto;
  top: -818px;
  height: 660px;
}

.bookWrapper {
  position: relative;
  width: 700px;
  margin: 0 auto;
  font-size: 18px;
}

.bookWrapper img {
  width: 100%;
  height: 100%;
  display: block;
}

.checkText {
  font-size: 18px;
  margin-bottom: 12px;
}

/* 예약 정보 박스 */
.BookCheck {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 18px;
  margin-bottom: 24px;
}

.BookCheck strong {
  font-size: 20px;
}

.bookTimeDate {
  margin-top: 8px;
  font-size: px;
  color: #333;
  display: flex;
  gap: 10px;
}

/* 예약자 정보 */
.userInfoSection {
  margin-bottom: 24px;
  margin-left: 10px;
}

.userInfoSection h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.userInfoTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userbirth {
  font-size: 18px;

  margin-bottom: 4px;
}

.userphone {
  font-size: 18px;

  display: flex;
  align-items: center;
}

.checkBtn {
  font-size: 15px;

  padding: 5px 7px;
  margin-left: 6px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 6px;
  cursor: pointer;
}

/* 요청사항 */
.requestLabel {
  margin-top: 20px;
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: bold;
}

.requestInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;

  border: 1px solid #ccc;
  border-radius: 6px;
  background: #fff;
  box-sizing: border-box;
}

/* 추가 정보 */
.addInfo {
  background-color: #f9f9f9;
  padding: 16px;
  border-radius: 5px;
  width: 330px;
  margin: 3px;
}

.addInfo h3 {
  margin-bottom: 8px;
  font-size: 20px;

  font-weight: bold;
}

.addInfo p {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 18px;
}

.bookCheckBox {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 17px;
}
.addInfo.highlight::after {
  background-color: #f7f7f7;
}

.requestInfo {
  width: 340px;
  padding: 5px;
  margin: 3px;
  background-color: #f9f9f9;
}

/* 추가 방문자 안내 */
.addNotice {
  margin-top: 20px;
  padding: 12px;
  background-color: #f7f7f7;
  font-size: 16px;
  color: #444;
  border-radius: 10px;
  text-align: center;
}

/* 버튼 정렬 */
.bookButtonRow {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  background-color: white;
}

.bookBack Button {
  background-color: #ffffff;
  border: 1px solid #ccc;
  color: #363636;
  font-weight: normal;
  padding: 10px;
  font-size: 18px;
  width: 80px;
  margin-left: 10px;
}

.agreeAndbookRequest Button {
  background-color: #03c75a;
  font-weight: normal;
  padding: 10px;
  font-size: 18px;
  width: 250px;
  margin: 3px;
  border-radius: 5px;
}
