.NaverBook_page03 {
   font-family: sans-serif;
  max-width: 400px;
  margin: 0 auto;
  padding: 16px;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}

.calendarDay .calendar {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.calendarDay .week {
  display: flex;
  gap: 4px;
}

.calendarDay .day {
  padding: 10px;
  width: 32px;
  height: 32px;
  border: none;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
}



.calendarHeader button{
border-style: none;
border: none;
background-color:  #fff;
cursor: pointer;
}

.calendarDay .day:hover{
  background-color: #03c75a;
  color: #fff;
    width: 32px;
    height: 32px;
    border-radius: 10px;
}