.NaverBook_page04 {
   font-family: sans-serif;
  max-width: 400px;
  margin: 100px auto;
  padding: 16px;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}

.BookCheck{
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
}