.bigContainer {
  margin: 0;
  padding: 0;
  background-color: #FFFBF3; 
}

.bookWrapper{
  position: relative;
  width: 700px;
  margin: 0 auto;
}

.NaverBook_page04 {
 position: absolute;
  top: 140px; 
  left: 49%;
  transform: translateX(-50%);
  background-color: white; 
  font-family: sans-serif;
  padding: 16px;
  overflow-y: auto;
  height: 685px;
  width: 380px;
}

.bookWrapper img{
  width: 100%;
  height: 100%;
  display: block;
}



.BookCheck{
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
}

.bookRequest{
display: flex;
margin-top: 20px;
}

.bookBack Button{
  background-color: white;
  border: 1px solid #ccc;
  color: #575757;
  border-radius: 5px;
  padding: 7px;
  width: 70px;
}

.agreeAndbookRequest Button{
  background-color:  #03c75a;
  border-radius: 5px;
  padding: 8px;
  width: 280px;
  margin-left: 10px;
}